{% extends "main/base.html" %}

{% block content %}
    <ul id="categories">
        <li {% ifequal category "all" %} class="current">
        {% else %}><a href="{{ BASE_URL }}{% ifnotequal sort 'active' %}?sort={{ sort }}{% endifnotequal %}">
        {% endifequal %}All</a>
        </li>
        <li {% ifequal category "Art" %} class="current">
        {% else %}>
            <a href="{{ BASE_URL }}?category=Art{% ifnotequal sort 'active' %}&sort={{ sort }}{% endifnotequal %}">
        {% endifequal %}Art</a>
        </li>
        <li {% ifequal category "Jewelry" %} class="current">
        {% else %}>
            <a href="{{ BASE_URL }}?category=Jewelry{% ifnotequal sort 'active' %}&sort={{ sort }}{% endifnotequal %}">
        {% endifequal %}Jewelry</a>
        </li>
        <li {% ifequal category "Antiques" %} class="current">
        {% else %}>
            <a href="{{ BASE_URL }}?category=Antiques{% ifnotequal sort 'active' %}&sort={{ sort }}{% endifnotequal %}">
        {% endifequal %}Antiques</a>
        </li>
        <li {% ifequal category "Furniture" %} class="current">
        {% else %}>
            <a href="{{ BASE_URL }}?category=Furniture{% ifnotequal sort 'active' %}&sort={{ sort }}{% endifnotequal %}">
        {% endifequal %}Furniture</a>
        </li>
        <li {% ifequal category "Collectibles" %} class="current">
        {% else %}>
            <a href="{{ BASE_URL }}?category=Collectibles{% ifnotequal sort 'active' %}&sort={{ sort }}{% endifnotequal %}">
        {% endifequal %}Collectibles</a>
        </li>
        <li {% ifequal category "Home" %} class="current">
        {% else %}>
            <a href="{{ BASE_URL }}?category=Home{% ifnotequal sort 'active' %}&sort={{ sort }}{% endifnotequal %}">
        {% endifequal %}Home & Garden</a>
        </li>
        <li {% ifequal category "Fashion" %} class="current">
        {% else %}>
            <a href="{{ BASE_URL }}?category=Fashion{% ifnotequal sort 'active' %}&sort={{ sort }}{% endifnotequal %}">
        {% endifequal %}Fashion</a>
        </li>
    </ul>

    <ul id="sorts">
        <li {% ifequal sort "active" %} class="current">
        {% else %}><a href="{{ BASE_URL }}{% ifnotequal category 'all' %}?category={{ category }}{% endifnotequal %}">
        {% endifequal %}Active</a>
        </li>
        <li {% ifequal sort "newest" %} class="current">
        {% else %}><a href="


                    {{ BASE_URL }}{% ifnotequal category 'all' %}?category={{ category }}&{% else %}?{% endifnotequal %}sort=newest">
        {% endifequal %}Newest</a>
        </li>
        <li {% ifequal sort "cheapest" %} class="current">
        {% else %}><a href="


                    {{ BASE_URL }}{% ifnotequal category 'all' %}?category={{ category }}&{% else %}?{% endifnotequal %}sort=cheapest">
        {% endifequal %}Cheapest</a>
        </li>
        <li {% ifequal sort "priciest" %} class="current">
        {% else %}><a href="


                    {{ BASE_URL }}{% ifnotequal category 'all' %}?category={{ category }}&{% else %}?{% endifnotequal %}sort=priciest">
        {% endifequal %}Most Expensive</a>
        </li>
    </ul>


    <div id="listing">
        {% for item in item_list %}
            {% include 'main/item_entry.html' %}
        {% endfor %}
        <div style="clear:both"></div>
    </div> <!-- end item listing -->

{% endblock %}
