{% extends "main/base.html" %}

{% block content %}


    <h1>Welcome back, {{ user }}!</h1>

    <!-- User's info -->
    <h3>Your account information: </h3>
    <p>First Name: {{ user.first_name }}</p>
    <p>Last Name: {{ user.last_name }}</p>
    <p>E-mail: {{ user.email }}</p>

    <h2>Create a new auction: </h2>
    <a href="create_item" class="button">Add new item</a>

    <!-- Display winning items -->
    <h2>You are currently the winning bidder for:</h2>
    {% if winning_items %}
        <div id="listing">
            {% for item in winning_items %}
                {% include 'main/item_entry.html' %}
            {% endfor %}
            <div style="clear:both"></div>
        </div>
    {% else %}
        Nothing right now!
    {% endif %}

    <!-- Losing items -->
    <h2>Your bids have been beaten for:</h2>
    {% if beaten_items %}
        <div id="listing">
            {% for item in beaten_items %}
                {% include 'main/item_entry.html' %}
            {% endfor %}
            <div style="clear:both"></div>
        </div>
    {% else %}
        Nothing right now!
    {% endif %}


{% endblock %}
