{% extends "main/base.html" %}

{% block content %}


    <h1>Welcome, {{ user }}!</h1>

    <h2>You are currently the winning bidder for:</h2>

    {% if winning_items %}
        <div id="listing">
            {% for item in winning_items %}
                {% include 'main/item_entry.html' %}
            {% endfor %}
            <div style="clear:both"></div>
        </div>
    {% else %}
        Nothing right now!
    {% endif %}

    <h2>Your bids have been beaten for:</h2>

    {% if beaten_items %}
        <div id="listing">
            {% for item in beaten_items %}
                {% include 'main/item_entry.html' %}
            {% endfor %}
            <div style="clear:both"></div>
        </div>
    {% else %}
        Nothing right now!
    {% endif %}

    <h2>Add item</h2>

    <!-- Check if this shows -->
    <div id="create_item_button">
        <a href="create_item">Add New Item</a>
    </div>

    <!-- User's info -->
    <h3>Your info: </h3>
    <p>First Name: {{ user.first_name }}</p>
    <p>Last Name: {{ user.last_name }}</p>
    <p>E-mail: {{ user.email }}</p>

{% endblock %}
